body {
    background-color: #f2f2f2;
    font-family:sans-serif;
}

.container {
    width: 300px;
    margin: 80px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.counter button {
    width: 40px;
    height: 40px;
    font-size: 20px;
}

#count {
    font-size: 24px;
    width: 40px;
    display: inline-block;
}

.reset-btn {
    padding: 8px 16px;
}